@import 'mixins.scss';
@import 'reset.scss';
@import 'general.scss';
@import 'variables.scss';

#main-container{
  min-height: 100%;
  position: relative;
  main{
    position: absolute;
    top: 50%;
    left: 50%;
    width: $width;
    margin-top:-$height/2;
    margin-left:-$width/2;
    h1{
      text-align:center;
      margin: 0 0 1em 0;
      img{
        display:inline-block;
        width:120px;
      }
    }
    form{
      margin:2em 0 0 0;
      text-align: center;
    }
  }
}

@import 'queries.scss';
